.container {
  position: absolute;
  top: 0px;
  left: 0px;

  width: fit-content;
  height: fit-content;
}

.content {
  position: absolute;
  z-index: 200;
  top: 0px;
  left: 0px;

  width: fit-content;
  height: fit-content;

  padding: 5px;
  border-radius: 5px;

  background-color: #1b2735;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px;
  color: white;
  text-align: center;
}

.tooltip-arrow {
  position: absolute;
  z-index: 99;

  width: 0;
  height: 0;

  border-style: solid;
}

.content-top .tooltip-arrow {
  left: 50%;
  bottom: -6px;

  border-width: 7px 7px 0 7px;
  border-color: #1b2735 transparent transparent transparent;

  transform: translateX(-50%);
}

.content-topLeft .tooltip-arrow {
  left: 10%;
  bottom: -6px;

  border-width: 7px 7px 0 7px;
  border-color: #1b2735 transparent transparent transparent;
}

.content-topRight .tooltip-arrow {
  left: 75%;
  bottom: -6px;

  border-width: 7px 7px 0 7px;
  border-color: #1b2735 transparent transparent transparent;
}

.content-left .tooltip-arrow {
  top: 50%;
  right: -6px;

  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent #1b2735;

  transform: translateY(-50%);
}

.content-leftTop .tooltip-arrow {
  top: 10%;
  right: -6px;

  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent #1b2735;
}

.content-leftBottom .tooltip-arrow {
  bottom: 10%;
  right: -6px;

  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent #1b2735;
}

.content-right .tooltip-arrow {
  top: 50%;
  left: -6px;

  border-width: 7px 7px 7px 0;
  border-color: transparent #1b2735 transparent transparent;

  transform: translateY(-50%);
}

.content-rightTop .tooltip-arrow {
  top: 10%;
  left: -6px;

  border-width: 7px 7px 7px 0;
  border-color: transparent #1b2735 transparent transparent;
}

.content-rightBottom .tooltip-arrow {
  left: -6px;
  bottom: 10%;

  border-width: 7px 7px 7px 0;
  border-color: transparent #1b2735 transparent transparent;
}

.content-bottom .tooltip-arrow {
  top: -6px;
  left: 50%;

  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #1b2735 transparent;

  transform: translateX(-50%);
}

.content-bottomLeft .tooltip-arrow {
  top: -6px;
  left: 10%;

  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #1b2735 transparent;
}

.content-bottomRight .tooltip-arrow {
  top: -6px;
  left: 80%;

  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #1b2735 transparent;
}
