.delay-and-hover-not-hidden-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
  margin-left: 75px;
  width: 50%;
  gap: 10px;
}

.delay-and-hover-not-hidden-btn {
  width: 150px;
}
