.basicTooltips-wrapper {
  display: flex;

  margin-top: 100px;
  margin-left: 100px;
}

.non-scroll-container {
  display: flex;
  flex-direction: column;
}

.tooltip-btn {
  width: 70px;
  height: 30px;

  border: none;
  border-radius: 4px;

  background-color: #1aab8a;
  color: #fff;
  font-size: 15px;

  cursor: pointer;
}

.top-wrapper {
  display: flex;
  justify-content: center;

  width: 400px;
  gap: 5px;
}

.side-wrapper {
  display: flex;
  justify-content: space-between;
}

.left-wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
  gap: 10px;
}

.right-wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
  gap: 10px;
}

.bottom-wrapper {
  display: flex;
  justify-content: center;

  width: 400px;
  gap: 5px;
}

.scroll-box {
  overflow: scroll;

  margin-left: 40px;

  height: 130px;
}

.default-tooltip-contents {
  width: 90px;
  font-size: 14px;
}

.default-tooltip-contents > p {
  margin: 5px;
}
